<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1><a href="/">Reddit Reader</a></h1>
    <h3>Reading: 
      {% for arg in args %}
        r/{{arg}}
      {% endfor %}
    </h3>
  </header>
  <main>
    {% for item in result %}
    <div>
      <h3><a href="https://www.reddit.com{{item[3]}}" target="_blank">{{item[2]}}</a></h3>
      <h4>{{item[1]}} upvotes ·  r/{{item[0]}}</h4>
      <hr>
    </div>
    {% endfor %}
  </main>
</body>

</html>