<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" sizes="16x16 32x32 64x64" href="https://nomadcoders.co/m.png">
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet" />
  <title>Remote Jobs</title>
</head>
<body>
  <header>
    <h1>Remote Jobs</h1>
  </header>
  <main>
    <form action="/search">
      Search by term<br>
      <input type="text" name="term" placeholder="i.e python">
      <button>Find my job</button>
    </form>
  </main>
</body>
</html>